.sidebar{
    flex: 1;
    margin-right: 5px;
}

.city_container{
    padding: 6px;
    border-radius: 5px;
    min-width: 300px;
    background: #fff;
    margin-bottom: 20px;
}

h4{
    color: #aeafb3;
    font-family: sans-serif;
}
.city_container form{
    display: flex;
}
.city_container input::placeholder{
    font-size: 12px;
    color: #B9BDCF;
    opacity: 1;
}
.radio div{
    margin-bottom: 8px;
}
