body{
    background-color: #f7f7f7;
}
.App{
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 520px;
   }
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 750px;
   }
}
@media only screen and (min-width: 992px) {
    .container {
        max-width: 974px;
   }
}
@media only screen and (min-width: 1199px) {
    .container {
        max-width: 1140px;
   }
}
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1200px;
   }
}
